html, body {
    margin: 0;
    padding: 0;
}

.map-container {
    height: 100vh;
    width: 100vw;
    }

@font-face {
    font-family: Junge;
    src: url(./assets/Junge-Regular.ttf);
}

@font-face {
    font-family: Arco;
    src: url(./assets/ArcoPerpetuo-Regular.ttf);
}


.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }

.popup {
    height: auto;
    width: 250px;
    margin:5px;
}
.popupTitle {
    font-family: Junge;
    color:ivory;
    line-height: 1.2;
    font-size: 30px;
}

.popupText {
    font-family: Arco;
    color:rgb(187, 187, 175);
    font-size: 12px;
    padding-top:10px;
    position: relative;
    left:1px;
}

.mapboxgl-popup-content {
    height: auto;
    min-width: 250px;
    padding: 15px;
    background-color: #45241D;
    border-radius:0;
    filter:drop-shadow(10px 10px 10px rgb(37, 30, 24));
    color:ivory;

    }

.InfoWindow {
    height:700px;
    width:600px;
    background-color: palevioletred;
}

.sidebar {
    height: 100vh;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}

.sidebarStyle {

}

.sidebarTitle {
    font-family: Junge;
    color:rgb(0, 0, 0);
    line-height: 1.2;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px;
    z-index: 1 !important;
    padding-top: 20px;
    padding-right: 100px;
  }
  
